/*
Desc: Scaffold website styling.
Auth: Nicklas Vraa
*/

/* Reset the body's margin and padding */
body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    font-family: Helvetica, sans-serif;
}

/* Menu */
.menu-bar {
    position: sticky;
    top: 0;
    background-color: #000000;
    color: white;
    padding: 10px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.menu-bar a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
    cursor: pointer;
    font-size: 14px;
}
.menu-bar a:hover {
    text-decoration: underline;
}
.menu-bar button {
    background-color: #000000;
    color: #FFFFFF;
    padding: 5px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.menu-bar button:hover {
    background-color: #222222;
}

/* Home */
.media-section {
    width: 100%;
    height: 200px;
    overflow: hidden;
    position: relative;
    background-color: #333;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.carousel {
    display: flex;
    transition: transform 0.5s ease-in-out;
}
.slide {
    min-width: 100%;
    text-align: center;
}
.carousel-controls {
    position: absolute;
    top: 50%;
    width: 95%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
}
.carousel-controls button {
    background-color: rgba(0, 0, 0, 0);
    border: none;
    color: white;
    padding: 10px;
    cursor: pointer;
}

/* About */
.text-section {
    padding: 20px 40px 40px 40px;
    background-color: #f9f9f9;
    color: #333;
}
.text-section h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}
.text-section p {
    font-size: 1rem;
    line-height: 1.6;
}

/* Design */
.design-section {
    padding: 0px;
}

.split-view {
    display: flex;
}

.left-panel {
    flex: 1;
    padding: 20px 40px 40px 40px;
    display: flex;
    flex-direction: column;
    background-color: #f4f4f9;
}
.right-panel {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e8e8ee;
}
.right-panel img {
    max-width: 90%;
    max-height: 90%;
    border: 2px solid #ccc;
}
.radio-group label {
    display: block;
    margin: 10px 0;
}
